/target
node_modules
out/
.pnpm-debug.log
*.ast 
*.nrs
dist/
*.vsix
editors/code/pnpm-lock.yaml
editors/code/client/pnpm-lock.yaml
editors/code/.vscode/tasks.json
editors/code/client/package-lock.json
