    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-slate-900">
            User Profile
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-slate-500">
          {{ header_info | capitalize }}
            <span> {{ additional_info }} </span>
        </p>
    </div>
